<p><%= render partial: 'classroom', locals: {classroom: @classroom} %></p>

Students

<% @classroom.students.each do |s| %>
<p><%= render partial: 'students/student', locals: {student: s} %></p>
<% end %>

We now want to call out the oldest student in the class:
<p><%= render partial: 'students/student', locals: {student: @classroom.oldest_student} %></p>
